<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
          integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
</head>
<body>

<div style="display: flex; justify-content: left; margin-top: 10px; ">
    <a class="btn btn-lg btn-primary btn-block"
       th:href="@{/rooms/new}">Add new file</a>
</div>

<table class="table" style="">

    <thead class="thead-inverse">
    <tr>
        <th> Room name</th>
        <th> Room country</th>
        <th> Enter</th>
    </tr>
    </thead>

    <tr th:each="room : ${rooms}">
        <td th:utext="${room.getName()}"></td>


        <td th:utext="${room.getCountry()}"></td>
        <td>


            <form th:method="GET" th:action="@{/rooms/{id}(id=${room.getId()})}">
                <input style="
                    border-radius: 10px; background-color: #007BFF;" type="submit" value="ENTER"/>
            </form>

        </td>

    </tr>

</table>





</body>
</html>