<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="../script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css"
      integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

<head>
    <title>Room</title>
</head>
<body>
<div align="center" style="width: auto; margin: auto; height: auto">
<form th:method="POST" th:action="@{rate}">
    <input class="btn btn-dark" type="submit" value="Back"/>
</form>

<div style="margin-top: 10px; ">
    <p id="room" th:value="${room.get()}" th:utext="${room.get().getName()}"><b/></p>
    <p th:utext="${room.get().getCountry()}"></p>


</div>


<button id="id" th:value="${room.get().getId()}" onclick="sendMessage(0)"
        type="button" class="btn btn-primary">Switch
</button>
<div  id="first">
    <div th:if="${room.get().isState()}">Light on</div>
    <div th:if="${not room.get().isState()}" >Light off</div>
</div>

<div id="results"/>

</div>
</body>
</html>

